@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  background-color: silver !important;
  font-family: 'Comfortaa', cursive !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Comfortaa', cursive, Lato, 'Helvetica Neue', Arial, Helvetica,
    sans-serif !important;
}

.ui.menu {
  font-family: 'Comfortaa', cursive, Lato, 'Helvetica Neue', Arial, Helvetica,
    sans-serif !important;
}

.my-footer {
  width: inherit;
  text-align: right;
  background-color: beige;
  bottom: 1rem;
}

a.my-footer-link {
  all: unset;
  cursor: pointer;
}
a.my-footer-link:hover,
a.my-footer-link:active {
  all: unset;
  cursor: pointer;
}

.my-p-1em {
  padding: 1em;
}

.my-m-1em {
  margin: 1em;
}

.my-mb-1rem {
  margin-bottom: 1rem;
}

.my-mt-1rem {
  margin-top: 1rem;
}

.ui.fluid.container {
  width: 95% !important;
}
